img {
  width: 100%;
  height: auto;
  pointer-events: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
select {
  outline: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
div {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img[src=""] {
  display: none;
}
img {
  width: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.load {
  width: 100%;
  height: 100%;
}
.load .page-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.load .page-bg .bg-one {
  position: absolute;
  height: 100%;
}
.load .page-bg .bg-two {
  position: absolute;
  width: 95%;
  height: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.load .page-load-box {
  width: 60.8vw;
  height: 3.86666667vw;
  position: absolute;
  left: 50%;
  margin-left: -30.4vw;
  top: 0vw;
  top: 48%;
}
.load .page-load-box .jdt {
  position: absolute;
  left: 0vw;
  top: 0vw;
  width: 60.8vw;
  height: 3.86666667vw;
}
.load .page-load-box .jdt1-box {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 3.86666667vw;
  border-radius: 2vw;
}
.load .page-load-box .jdt1-box img {
  width: 60.8vw;
  height: 3.86666667vw;
}
.load .page-load-box .fc-box {
  width: 10.8vw;
  height: 18.53333333vw;
  position: absolute;
  top: -18.53333333vw;
  left: 0;
}
.load .page-load-box .progress {
  position: absolute;
  top: 5.33333333vw;
  width: 100%;
  text-align: center;
  color: #fff;
}
.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home .pg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home .rim {
  position: absolute;
  top: 2.26666667vw;
  left: 50%;
  width: 96vw;
  height: 98%;
  margin-left: -48vw;
}
.home .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vw;
}
.home .box .scenery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 118.8vw;
}
.home .box .sailboat {
  position: absolute;
  top: 73.06666667vw;
  left: 53.6vw;
  width: 9.46666667vw;
  height: 31.73333333vw;
}
.home .box img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 117.6vw;
}
.home .box img:nth-of-type(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 29.46666667vw;
  height: 120vw;
}
.home .box img:nth-of-type(4) {
  position: absolute;
  top: 0;
  right: 0;
  width: 26.66666667vw;
  height: 120vw;
}
